@font-face {
    font-family: 'JBM';
    src: url('./assets/fonts/JBM-Medium.ttf');
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Bold.ttf');
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Regular.ttf');
}

@font-face {
    font-family: 'BNM';
    src: url('./assets/fonts/BNM-Rounded.otf');
}

body {
    color: #003e29;
    background-color: #ace4e3;
    font-family: Figtree, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5;
}

body:hover .cursor-dot {
    opacity: 1.0;
}

.h1-wrap {
    width: 39.0625em;
    height: 9.5em;
    align-items: flex-start;
    margin-bottom: -3.75em;
    display: flex;
    position: relative;
}

.h1 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: .95;
    font-size: 4.375em;
    white-space: nowrap;
    font-family: BNM, monospace;
}

.h1-span {
    margin-top: .7em;
    margin-left: -1.3em;
    display: inline-block;
}

.h1-span-day {
    margin-top: 1.4em;
    margin-left: -0.5em;
    display: inline-block;
}

.section {
    z-index: 10;
    background-color: #ace4e3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.text {
    margin-top: auto;
    margin-bottom: 1.5em;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-family: JBM,
        monospace;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.4;
}

.regular {
    font-size: 1.25em;
    font-family: JBM, monospace;
}

.body-wrap {
    position: relative;
}

.section-2 {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0);
    position: -webkit-sticky;
    position: sticky;
}

.corner {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1.875em;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.corner.is--2 {
    padding-left: 0;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
}

.corner.is--3 {
    left: 0%;
    top: auto;
    bottom: 0%;
    right: auto;
}

.corner.is--4 {
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.arrow-svg {
    width: 4em;
    height: 4em;
}

.arrow-svg.is--2 {
    margin-left: 8em;
    transform: rotate(115deg);
}

.arrow-svg.is--3 {
    transform: rotate(295deg);
}

.arrow-svg.is--4 {
    margin-left: 8em;
    transform: rotate(185deg);
}

.cursor-dot {
    width: 2.25em;
    height: 2.25em;
    opacity: 0;
    background-color: #f58bcf;
    border-radius: 100vw;
    transition: opacity .2s;
}

.cursor-wrapper {
    z-index: 999999;
}

.grid {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

.h3 {
    color: #ace4e3;
    margin-top: 0;
    margin-bottom: 0;
    font-family: JBM, monospace;
    font-weight: 500;
}

.myth-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.875em;
}

.myth-bottom {
    width: 100%;
    grid-column-gap: 1.875em;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    flex-direction: column;
    margin-bottom: -1.875em;
    display: flex;
}

.myth-top {
    height: auto;
    color: #ace4e3;
    align-items: flex-end;
    display: block;
}

.myth-card {
    width: 100%;
    height: 100%;
    background-color: #0b4350;
    border: 1px solid #f58bcf;
    border-radius: 2.5em;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1.875em;
    padding: 1em 3.125em 1.25em;
    position: absolute;
}

.myth-card.is--1,
.myth-card.is--2,
.myth-card.is--3,
.myth-card.is--4,
.myth-card.is--5 {
    flex-direction: column;
    display: flex;
    position: absolute;
}

.myth-inner-wrap {
    width: 100%;
    height: 100%;
    max-height: 34em;
    max-width: 66.5625em;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: relative;
    padding-left: 2.875em;
    padding-right: 2.875em;
}

.myth-inner-wrap.is--heading {
    margin-bottom: -3.75em;
}

.myth-content {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.myth-bottom {
    width: 100%;
    grid-column-gap: 1.875em;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}


.h2 {
    font-family: BNM, sans-serif;
    font-size: 2.5em;
    line-height: 1;
}

.section.blue-section2,
.section.blue-section1,
.section.blue-section2,
.section.blue-section3,
.section.blue-section4,
.section.blue-section5 {
    z-index: 20;
    color: #f58bcf;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.h2-myth-wrap {
    max-width: 40ch;
}

.h2-myth-wrap {
    width: 100%;
    height: 100%;
    max-width: 55ch;
    align-items: center;
    margin-right: auto;
    display: flex;
    position: relative;
}

.myth-number {
    flex-direction: row;
    font-family: BNM, sans-serif;
    font-size: 15em;
    line-height: .9;
    display: flex;
}